.section {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  max-width: 800px;
  min-width: 400px;
  
}

.section:before, .section:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  min-width: 45px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.section:before {
  left: 0;
}
.section:after {
  right: 0;
}

