<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>MultiWordUnit Profiler</title>
</head>
<body>
<h1>MultiWordUnit Profiler</h1>

<form method="post" action="/output">
    <p>Paste your text here：</br>
       <textarea name = "inputtext" row = "10"></textarea>
    </p>
    <p>Select Multi-word-unit list below：</br>
        <select name = 'belong'>
            <option></option>
            <option>Academic Formula list</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
    </p>
    
    <button type="submit">Analyze</button>

</form>
</body>
</html>
