<!DOCTYPE html>
<html>
<head>
	<title>MultiWordUnit Profiler</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lumen/bootstrap.min.css" integrity="sha384-VMuWne6iwiifi8iEWNZMw8sDatgb6ntBpBIr67q0rZAyOQwfu/VKpnFntQrjxB5W" crossorigin="anonymous">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <a class="navbar-brand" href="#">MultiWordUnit Profiler (beta version)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>


<div class="container-sm text-center" style="width: 600px">

	<form method="post" action="/">
    	<p class="text-left pt-3">STEP 1: Paste your text in the textbox below.</br>
    	<textarea class="form-control .col-1-md" rows="12" id = 'input' name = "input_text" rows = "15">{% if res %}{{ res.input_text }}{% endif %}</textarea>
   		</p>
    	<p class = "text-left pt-3">STEP 2: Select Multi-word-unit list from the list.</br></p>
    	{% if res %}
    		<span style='color:red'>{{ res.list_select_error }}</span>
    	{% endif %}
    	<p>
    	<select name = 'mwu_list'>
        	<option value="">Select a list for analysis</option>
        	<option value ='AFL_all'>An Academic Formulas list (Simpson-vlach & Ellis, 2010)</option>
        	<option value='PHRASAL'>A Phrasal Expressions List (Martinez & Schmitt, 2012)</option>
    	</select>
    	</p>
    	<script type="text/javascript">
  		document.getElementById('mwu_list').value = "<?php echo $_GET['mwu_list'];?>";
		</script>
        <p class = "text-left">STEP 3: Submit to analyze!!</br></p>
        <p>
    	<button type="submit" name='submit_button'>Analyze</button>
    	</p>
	</form>

{% if res %}

<p><h3>Annotated Output</h3></p>
	<p>Useful chunks based on <strong>{{ res.selected_list }}</strong> are highlighted.
	</p>
	<div class="text-left">
	{{res.output }}
	</div>

{% endif %}

</div>

<div class="container-md">
  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

<footer>
  <p>(c) Masaki Eguchi</p>
</footer>

</body>

</html>

